<br>
<br>
<div class="container  wow fadeInUp" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
      <div class="card  wow bounceInLeft" data-wow-delay="0.3s">
        <img class="img-fluid" src="http://www.nhamayhongngoc.com/data/dong-phuc-hoc-sinh_1467779138.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
      <div class="card  wow bounceInLeft system" data-wow-delay="0.4s">
        <h2 class="text-center black-text font-weight-bold">
          GIỚI THIỆU
        </h2>
        <p class="text-left black-text font-weight-normal">
          Hệ thống trường Dân lập Quốc tế Việt Úc (VAS) được thành lập vào năm 2004, đào tạo từ bậc mầm non đến hết bậc phổ thông trung
          học. VAS được chính phủ Việt Nam cấp phép hoạt động và nằm trong hệ thống giáo dục quốc gia. Hiện VAS đang giảng
          dạy hơn 7.200 học sinh từ mầm non đến lớp 12 tại 9 cơ sở nằm ở thành phố Hồ Chí Minh.
        </p>
      </div>
    </div>
  </div>
</div>