<br>
<br>
<div class="container  wow fadeInUp" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
      <div class="card  wow bounceInLeft" data-wow-delay="0.3s">

        <div class="card  wow bounceInLeft system" data-wow-delay="0.4s">
          <h2 class="text-center black-text font-weight-bold">
            CHỨNG NHẬN QUỐC TẾ
          </h2>
          <p class="text-left black-text font-weight-normal">
            Hệ thống trường Dân lập Quốc tế Việt Úc có được ủy thác của các tổ chức khảo thí quốc tế, thiết lập các trung tâm tổ chức
            thi ngay tại trường, giúp cho học sinh có thể lấy bằng cấp quốc tế mà không phải đăng ký qua các đơn vị trung
            gian nào. Cụ thể:
          </p>
          <p class="text-left black-text font-weight-normal">
            VAS được công nhận là Thành viên các Trường Quốc tế Cambridge (Cambridge School) bởi Hội đồng Khảo thí Quốc tế Đại học Cambridge
            (CIE). CIE là tổ chức giáo dục hàng đầu cung cấp các chương trình học và văn bằng quốc tế đa dạng cho các em
            học sinh từ 5 đến 19 tuổi. Học sinh tại VAS sẽ thi để lấy các bằng cấp quốc tế của Cambridge như Cambridge Checkpoints,
            IGCSE và A Level.
          </p>
          <p class="text-left black-text font-weight-normal">
            Trung tâm Khảo thí ICDL (ICDL Test Delivery Center) do Tổ chức ICDL International ủy thác, học sinh có thể lấy chứng chỉ
            công nghệ truyền thông và thông tin quốc tế Starter và Full License cũng ngay trong chương trình đào tạo chính
            khóa của nhà trường.
          </p>
          <p class="text-left black-text font-weight-normal">
            Trung tâm tổ chức thi IELTS (IELTS Test Delivery Center) được thành lập ngay trong nhà trường, do Hội Đồng Anh, Tổ chức giáo
            dục IDP và Đại học Cambridge ủy thác, học sinh có thể thi chứng chỉ IELTS General Training và Academic IELTS
            ngay trong chương trình đào tạo chính khóa của trường.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
      <img class="img-fluid" src="http://www.giaoduc.edu.vn/upload/images/2016/01/16/1112345.jpg" alt="Card image cap">

    </div>
  </div>
</div>