<br>
<br>
<div class="container  wow fadeInUp" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
      <div class="card  wow bounceInLeft system" data-wow-delay="0.3s">
        <img class="img-fluid" src="http://media.doisongphapluat.com/2017/11/10/mat_vu_my_1.jpg" alt="Card image cap">
        <br>
        <h2 class="text-center black-text font-weight-bold">
          Tầm nhìn
        </h2>
        <p class="text-left black-text font-weight-normal">
          Trở thành một hệ thống trường học xuất sắc và không ngừng phát triển – nơi trang bị cho học sinh nền tảng vững vàng thông
          qua sự kết hợp hài hòa giữa Chương trình Giáo dục Quốc gia và Chương trình Giáo dục Quốc tế, giúp các em thành
          công ở các bậc học cao hơn và trong cuộc sống, đồng thời vẫn gìn giữ những giá trị truyền thống của Việt Nam. Sứ
          mệnh
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
      <div class="card  wow bounceInLeft system" data-wow-delay="0.4s">
        <h2 class="text-center black-text font-weight-bold">
          TẦM NHÌN & SỨ MỆNH
        </h2>

        <h2 class="text-center black-text font-weight-bold">
          Sứ mệnh

        </h2>
        <p class="text-left black-text font-weight-normal">
          VAS sẽ xác định một cách rõ ràng các giá trị cốt lõi và tạo điều kiện tốt nhất cho tất cả các bên liên quan cống hiến nhằm
          đạt được tiêu chuẩn cao nhất của mỗi giá trị trên tinh thần cải tiến liên tục.
        </p>
        <p class="text-left black-text font-weight-normal">
          VAS sẽ kết hợp giảng dạy hài hòa Chương trình Giáo dục Quốc gia và Chương trình Giáo dục Quốc tế, giúp học sinh thông thạo
          cả tiếng Việt và tiếng Anh.
        </p>
        <p class="text-left black-text font-weight-normal">
          VAS sẽ xây dựng một tập thể xuất sắc các nhà quản lý, giáo viên và nhân viên trong nước và quốc tế - những người thực hiện
          một cách nhiệt huyết và hiệu quả những chương trình giáo dục của VAS.
        </p>
        <p class="text-left black-text font-weight-normal">
          VAS sẽ liên tục xây dựng mối giao tiếp thường xuyên và quan hệ gắn kết với phụ huynh mà ở đó phụ huynh đóng vai trò hỗ trợ
          đắc lực, giúp giáo viên phát triển tối đa tiềm năng của học sinh.
        </p>
        <p class="text-left black-text font-weight-normal">
          VAS sẽ thu hút ngày càng nhiều học sinh cũng như mở rộng số lượng cơ sở giáo dục trên nền tảng của trách nhiệm và phát triển
          bền vững.
        </p>
      </div>
    </div>
  </div>
</div>