<div class="container text-center">
    <br>
    <br>
    <img class="img-fluid" src="https://vignette.wikia.nocookie.net/dorepedia/images/b/b3/Th%E1%BA%A7y_gi%C3%A1o_c%E1%BB%A7a_Nobita.jpg/revision/latest?cb=20131102151844&path-prefix=vi"
        width="60%" height="30%" alt="school">
    <br>
    <h3 class="font-weight-normal black-text"> Quý phụ huynh và các em học sinh thân mến!</h3>
    <br>
    <p class=" font-weight-normal text-left  ">
        Hệ thống Trường Dân lập Quốc tế Việt Úc (VAS) theo đuổi tầm nhìn trở thành một hệ thống trường học xuất sắc, không ngừng
        lớn mạnh - nơi cung cấp cho học sinh nền tảng học vấn vững chắc, thông qua sự kết hợp hài hòa Chương trình Giáo dục
        Quốc gia với Chương trình Giáo dục Quốc tế Cambridge, giúp các em sẵn sàng đương đầu với thử thách của cuộc sống
        cũng như thành công ở những bậc học cao hơn, đồng thời vẫn gìn giữ những giá trị văn hóa, truyền thống của dân tộc.
    </p>
    <p class=" font-weight-normal text-left  ">
        Để đạt được tầm nhìn quan trọng trên, VAS đã và đang xây dựng một đội ngũ vững mạnh các giáo viên, nhân viên, các nhà quản
        lý trong và ngoài nước có trình độ chuyên môn cao, giàu kinh nghiệm và nhiệt huyết, góp phần thực hiện một cách hiệu
        quả những chương trình giáo dục mà VAS đã cam kết. Ngoài ra, VAS hướng đến việc giao tiếp thường xuyên với Phụ huynh,
        khuyến khích tối đa sự đồng hành của Phụ huynh nhằm tạo nên một mối gắn kết chặt chẽ mà ở đó, Phụ huynh đóng vai
        trò hỗ trợ đắc lực, giúp cho giáo viên có thể phát triển tối đa tiềm năng của học sinh.
    </p>
    <p class=" font-weight-normal text-left  ">
        Tại VAS, chúng tôi hiểu rằng không có gì quan trọng với trẻ hơn là cơ hội nhận được nền tảng giáo dục tốt nhất, giúp các
        em thành công trong tương lai. Chúng tôi tự hào VAS là nơi mang lại cho học sinh những nền tảng này. Chúng tôi áp
        dụng những phương pháo giảng dạy tiên tiến cập nhật nhất nhằm trang bị cho học sinh phông văn hóa và kiến thức học
        thuật vững vàng, song song với những kỹ năng sống thực tiễn và những giá trị sống, phẩm chất cá nhân tốt đẹp. Chúng
        tôi cũng hướng đến mục tiêu tạo ra một môi trường học đường thoải mái, lành mạnh và an toàn, nơi mà mỗi học sinh
        đều có những trải nghiệm thú vị và có cơ hội thể hiện lòng tốt, tình yêu thương và sự tôn trọng, nơi mà các em được
        khích lệ một cách tích cực để thể hiện tối đa khả năng thiên phú của mình. Chương trình Giá trị Cốt lõi của VAS sẽ
        hỗ trợ mục tiêu trên và được nêu rõ trong tài liệu này.
    </p>
    <p class=" font-weight-normal text-left  ">
        Chúng tôi cũng mong muốn mỗi học sinh đều đạt được những thành tích học tập tốt và ngày càng trưởng thành về mặt trí tuệ
        cũng như xã hội. Chúng tôi tin tưởng rằng những tài năng trẻ ngày hôm nay sẽ gặt hái thành công rạng rỡ trong tương
        lai khi các em được trang bị một nền tảng giáo dục tốt ngay từ khi còn nhỏ. Chúng tôi hy vọng rằng thời gian các
        em học tập tại VAS sẽ là khoảng thời gian đẹp nhất và đáng nhớ nhất trong suốt quãng đời học sinh của các em.
    </p>
</div>
<div>
    <app-recommend></app-recommend>
    <app-certification></app-certification>
    <app-mission></app-mission>
    <app-image></app-image>
</div>